/* CSS declarations go here */
.hidden_div{
	display:none;
}

.search {
	margin-bottom: 20px;
}
.add_url {
	margin-bottom: 20px;
}
.back {
	margin-top: 20px;
}
.avatar-image { 
	border-radius: 50px;
}
.avatar .avatar-initials {
	background-color: transparent !important;
}

/* Social buttons */

.social-buttons{
	margin-bottom:5rem;
}

.btnz {
   display: block;
   float: left;
   padding: 10px 15px;
   border:none;
   background-color: #ececec;
   text-decoration: none;
   font-size: 18px;
   color: #FFF;
}
 
.btnz:hover {
   color: #efefef;
}

.social {
	margin-top: 30px;
}

.searchResult {
   padding: 10px !important;
}

.js-save-website-form {
   margin-bottom: 10px;
}

.navbar {
   padding-right: 1.5rem;
   padding-left: 1.5rem;
   border:none
}

.nav ~li { border-left: 1px solid #DDD }

.btn-login {
   width: 100%;
}

.btn-register {
   width: 100%;
}

label.error {
   color:red;
}

.pic-profile {
   display: inline;
   padding-top: 0px;
   width:58px;
   height:58px;
   border-radius: 50%;
   padding:10px;
   vertical-align: middle;
}
 a.navbar-brand {
          color:blue !important;
      }
      
a.dropdown-toggle{
   padding-left: 0px !important;
}

.dropdown-menu{
   margin-top: 10px !important;
}


 /* // Breackpoints // */
 /*==========  Mobile First Method  ==========*/


    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



